//*TODO: Variables-------------------------------------------->
$bg-lightGreen:#417F56;
$color-white: #fff;
$bg-orange: #f94c10;
$bg-black: #010101;
$dark-blue: #151b20;
$color-gray: rgba(128, 128, 128, 0.782);
$color-gold: #f9b572;
$bg-green: rgb(8, 170, 8);
$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-family: "yekan";
$line-height: 32px;
$text-right: right;
$text-center: center;


// *TODO:  Mixins---------------------------------------------->

@mixin margin-padding($top, $right, $bottom, $left, $padding: true) {
  @if (margin) {
    margin: $top $right $bottom $left;
  } @else {
    padding: $top $right $bottom $left;
  }
}
@mixin flex($flex: flex, $position-x: center, $position-y: center) {
  display: $flex;
  justify-content: $position-x;
  align-items: $position-y;
}
@mixin column-row($column: column, $row: row) {
  @if (column) {
    flex-direction: column;
  } @else {
    flex-direction: row;
  }
}
@mixin border-radius($top-left, $top-right, $bottom-right, $bottom-left) {
  border-radius: $top-left $top-right $bottom-right $bottom-left;
}

//  *TODO: CssResets------------------------------------------->

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ol,
ul,
li {
  list-style: none;
}
a,
a:active,
a:visited {
  text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

// ?---------------------------index.html Styles---------------------------------------------------------------------------->

//  * ----------header-content---------------------------->
#navbar-wrapper {
  background-color: $color-white;
  width: 100%;
  height:10vh;

  .navbar-item {
    width: 100%;
    height: 100%;
    @include flex(flex, center, center);

    ul {
      width: 100%;
      height:10vh;
      @include flex(flex, center, center);
      text-align: $text-center;
      direction: rtl;
      // background-color: $bg-lightGreen;
    
      li {
        @include margin-padding(0, 0, 0, 25px, false);

        a {
          color: $color-white;
          font-size: $font-12;
          font-weight: bold;
          
        }
      }
    }
  }
  .buy-basket {
    @include flex(flex, space-around, center);
    width: 100%;
    height: 50px;
    span {
      a{
        font-size: $font-12;
        color: $bg-orange;
      }
      #shopCart-count-1{
        width: 10px;
        height: 10px;
        background-color:$bg-orange;
        border-radius: 4px;
        font-size: $font-12;
        color: $color-white;
       text-align: $text-center;
      }
    }
  }
  .navbar-logo {
    width: 100%;
    height: 10vh;
    @include flex(flex, center, center);
  }
}

#header-content {
  height: 90vh;
  background-image: url('../Imgs/Banners/heroBanner.jpg') ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  @include flex(flex, center, center);
  @include column-row(column);

}

//  * ----------Services-Section ---------------------------------->
#services-wrapper {
  background-color: $bg-black;
  width: 100%;
  height: 450px;

  .services-wrapper {
    @include flex(flex, center, center);
    @include column-row(column);
    color: $color-white;
    padding-top: 20px;

    .services-wrapper_title {
      text-align: $text-center;
      h3 {
        font-size: $font-16;
        @include margin-padding(20px, 0, 0, 0, false);
      }
    }

    .services-items {
      @include flex(flex, center, center);
      @include margin-padding(50px, 10px, 10px, 10px, false);

      .services-inner {
        @include flex(flex, center, center);
        @include column-row(column);
        @include margin-padding(0px, 20px, 0px, 0px, false);

        img {
          width: 100px;
          height: 100px;
        }

        h5 {
          font-size: $font-14;
        }

        p {
          text-align: $text-center;
          font-size: $font-14;

          @include margin-padding(20px, 0px, 20px, 0px, false);
        }
        span {
          a {
            color: $bg-orange;
            font-size: $font-14;
            // text-decoration: overline ;
            padding: 10px;
            position: relative;

            &::after {
              content: "";
              position: absolute;
              top: 50px;
              left: 0;
              bottom: 0;
              right: 0;
              width: 0;
              height: 2px;
              background-color: $bg-orange;
              transition: width 0.5s ease;
            }
            &:hover::after {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

//  * ----------AboutUs-Section------------------------------------>

#about-us {
  width: 100%;
  height: 500px;
  background-color: $dark-blue;

  #About-boxRight {
    @include margin-padding(60px, 0, 0, 0, false);
    @include flex(flex, space-between, center);

    #About-boxRight_item {
      @include flex(flex, flex-end, start);
      .img-box {
        width: 300px;
        height: 300px;
        @include flex(flex, center, center);
        img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }
    #About-boxLeft_item {
      @include flex(flex, center, center);
      @include column-row(column);

      .About-boxLeft_item--content {
        @include flex(flex, flex-start, end);
        @include column-row(column, null);
        h6 {
          color: $color-gold;
          font-size: $font-14;
        }
        h4 {
          color: $color-white;
          @include margin-padding(10px, 0, 0, 0, false);
          text-align: $text-right;
          line-height: $line-height;
        }
        p {
          color: $color-gray;
          @include margin-padding(10px, 0, 0, 0, false);
          text-align: $text-right;
          line-height: $line-height;
        }
      }
      .spacial-boxes {
        @include flex(flex, space-between, center);
        @include margin-padding(20px, 0, 0, 0, false);

        .spacial-boxes_itemRight {
          background-color: $bg-black;
          width: 100%;
          height: 150px;
          @include margin-padding(10px, 10px, 10px, 10px, true);
          @include border-radius(5px, 5px, 5px, 5px);
          @include flex(flex, space-around, center);
          @include column-row(column);

          .spacial-boxes_itemRight--title {
            @include flex(flex, center, center);
          }
          p {
            color: $color-white;
            @include margin-padding(12px, 0, 0, 0, false);
            @include margin-padding(10px, 20px, 10px, 10px, true);
            font-size: $font-12;
            text-align: $text-right;
          }
        }
        .spacial-boxes_itemLeft {
          background-color: $bg-black;
          width: 100%;
          height: 150px;
          @include border-radius(5px, 5px, 5px, 5px);
          @include flex(flex, space-around, center);
          @include column-row(column);
          @include margin-padding(10px, 10px, 10px, 10px, true);

          .spacial-boxes_itemLeft--title {
            @include flex(flex, center, center);
          }
          p {
            color: $color-white;
            @include margin-padding(12px, 0, 0, 0, false);
            @include margin-padding(10px, 20px, 10px, 10px, true);
            font-size: $font-12;
            text-align: $text-right;
          }
        }
      }
      .rezerv-btn {
        width: 50%;
        height: 40px;
        @include margin-padding(10px, auto, 0, auto, false);
        a {
          display: inline-block;
          width: 100%;
          height: 100%;
          background-color: $bg-orange;
          color: $color-white;
          font-size: $font-14;
          @include flex(flex, center, center);
          @include border-radius(4px, 4px, 4px, 4px);
          &:hover {
            background-color: $color-gold;
            transition: 0.5s ease-in;
            color: $bg-orange;
          }
        }
      }
    }
  }
}

// * -----------Suggested-Section---------------------------------->

#Suggested-wrapper {
  background-color: $bg-black;

  #Suggested-content {
    width: 100%;
    height: 100%;
    @include flex(flex, center, center);
    @include column-row(column);

    .Suggested-title {
      @include margin-padding(30px, 0, 0, 0, false);
      @include flex(flex, center, center);
      @include column-row(column);
    }
    .Suggested-items {
      width: 100%;
      height: auto;
      @include flex(flex, space-between, center);
      flex-wrap: wrap;
      @include margin-padding(20px, 0, 20px, 0, true);

      .Suggested-item {
        width: 200px;
        height: 250px;
        border: 1px solid rgba(171, 161, 161, 0.496);
        @include margin-padding(10px, 0, 0, 0, false);
        border-radius: 6px;
        @include flex(flex, center, center);
        @include column-row(column);
        text-align: $text-center;
        overflow: hidden;

        .Suggested-item_img {
          width: 100%;
          height: 70%;
          display: flex;
          justify-content: center;
          background-color: $color-white;

          img {
            display: block;
            width: 100%;
            height: 100%;
          }
        }

        .caption {
          width: 100%;
          height: 30%;
          @include flex(flex, center, center);
          @include column-row(column);
          background-color: $bg-green;
          color: $color-white;
          position: relative;
          text-align: $text-right;
          transition: all 0.5s;
          transform: rotate(-7deg) scale(1.1);
          transform-origin: top right;
          &:hover {
            transform: rotate(0deg) scale(1.1);
          }

          .caption-title {
            position: absolute;

            a {
              color: $color-white;
            }
          }
        }
      }
    }
  }
}

// * --------------Delivery-Section-------------------------------->
#delivery-wrapper {
  width: 100%;
  height: 400px;

  .delivery-content {
    @include flex(flex, space-between, center);
    @include margin-padding(60px, 0, 0, 0, true);

    .deliver-img {
      width: 300px;
      height: 300px;

      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    .delivery-text {
      @include flex(flex, flex-start, end);
      @include column-row(column);
      h5 {
        color: $color-gold;
        font-size: $font-14;
        @include margin-padding(0, 0, 20px, 0, false);
      }
      p {
        text-align: $text-right;
        @include margin-padding(20px, 0, 20px, 0, false);
      }
      h6 {
        .tel-link {
          color: $dark-blue;
        }
        .icon {
          color: $color-gold;
        }
      }
      h6 {
        color: $dark-blue;
        span {
          .icon {
            color: $color-gold;
          }
        }
      }
    }
  }
}

// * --------------ContactUs-Section------------------------------->
#contact-us {
  width: 100%;
  height: 300px;
  background-image: url("../Imgs/Foods/orange-slice.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  .contactUs-content {
    @include flex(flex, space-between, center);
    @include column-row(column);
    @include margin-padding(60px, 0, 0, 0, false);

    .contactUs-content--text {
      @include flex(flex, space-between, center);
      @include column-row(column);
      text-align: $text-right;
      h6 {
        color: $color-gold;
      }
      p {
        color: $color-white;
        @include margin-padding(15px, 0, 20px, 0, false);
      }
    }

    .contactUs-content--items {
      @include flex(flex, space-between, center);

      .content--items_boxRight {
        width: 200px;
        height: 100px;
        @include flex(flex, space-around, center);
        @include margin-padding(10px, 10px, 10px, 10px, true);
        @include column-row(column);
        background-color: $color-white;
        h6 {
          color: $dark-blue;
        }
        h5 {
          color: $bg-orange;
        }
      }
      .content--items_boxLeft {
        width: 200px;
        height: 100px;
        @include flex(flex, space-around, center);
        @include margin-padding(10px, 10px, 10px, 10px, true);
        @include column-row(column);
        background-color: $color-white;
        h6 {
          color: $dark-blue;
        }
        h5 {
          color: $bg-orange;
        }
      }
    }
  }
}

//  * --------------News-Section------------------------------------>
#news-wrapper {
  width: 100%;
  height: 350px;
  background-image: url("../Imgs/Foods/leafs.png");
  background-size: contain;
  background-repeat: no-repeat;

  .news-content {
    @include margin-padding(100px, 0, 0, 0, false);
    @include flex(flex, space-around, center);
    @include column-row(column);

    p {
      @include margin-padding(20px, 0, 20px, 0, false);
    }
    .news-content_form {
      width: 70%;
      height: 50px;
      @include margin-padding(30px, auto, 0, auto, false);
      @include flex(flex, center, center);
      border: 1px solid $bg-orange;
      @include border-radius(5px, 5px, 5px, 5px);

      input {
        width: 100%;
        height: 100%;
        outline: none;
        border: none;
        &::placeholder {
          text-align: $text-right;
          font-size: $font-12;
          @include margin-padding(0, 20px, 0, 0, true);
          caret-color: blue;
        }
      }
      button {
        width: 50px;
        height: 100%;
        outline: none;
        border: none;
        background-color: $bg-orange;
      }
    }
  }
}

// * --------------Footer-Section---------------------------------->
#footer-wrapper {
  width: 100%;
  height: 400px;
  background-color: $dark-blue;

  .footer-content {
    @include flex(flex, space-around, center);
    flex-direction: row-reverse;
    @include margin-padding(100px, 20px, 0, 20px, true);

    .footer-content-item {
      width: 35%;
      height: 100%;

      .footer-content-item_text {
        @include flex(flex, flex-start, end);
        @include column-row(column);

        .footer-content-item_logo {
          width: 100px;
          height: 70px;

          img {
            display: block;
            width: 100%;
            height: 100%;
          }
        }
        p {
          text-align: $text-right;
          @include margin-padding(20px, 0, 20px, 0, false);
          color: $color-white;
        }
        .phone {
          @include flex(flex, center, center);

          .phone-link {
            color: $color-white;
          }
          .icon {
            color: $color-gold;
            @include margin-padding(0, 0, 0, 10px, true);
          }
        }
        .email {
          @include flex(flex, center, center);

          .email-link {
            color: $color-white;
          }
          .icon {
            color: $color-gold;
            @include margin-padding(0, 0, 0, 10px, true);
          }
        }

        .footer-content-item_socials {
          ul {
            @include margin-padding(10px, 0, 0, 0, false);
            @include flex(flex, center, center);
            li {
              @include margin-padding(0, 0, 0, 20px, false);
              a {
                .icon {
                  color: $color-gold;
                }
              }
            }
          }
        }
      }

      .footer-content-item_title {
        @include flex(flex, space-around, center);
        @include column-row(column);
        text-align: $text-right;

        h6 {
          color: $color-white;
          @include margin-padding(20px, 0, 20px, 0, false);
        }
        ul {
          text-align: $text-center;

          li {
            @include margin-padding(10px, 10px, 10px, 10px, false);
            background-color: $bg-orange;
            display: inline-block;
            width: 100px;
            height: 30px;

            a {
              font-size: $font-12;
              color: $color-white;
              &:hover {
                color: $dark-blue;
                transition: 0.5s linear;
              }
            }
          }
        }
      }
      .footer-content-item_imgGallery {
        @include flex(flex, space-around, center);
        @include column-row(column);

        .imgGallery-title {
          h6 {
            color: $color-white;
            @include margin-padding(10px, 0, 10px, 0, false);
          }
        }

        .imgGallery-items {
          width: 100%;
          height: auto;
          @include margin-padding(30px, 0, 0, 0, false);
          @include flex(flex, center, center);
          flex-wrap: wrap;

          .imgGallery-items_img {
            width: 80px;
            height: 60px;
            @include margin-padding(10px, 0, 0, 10px, false);

            a {
              img {
                display: block;
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
    }
  }
}

//  * ---------------SubFooter-Section------------------------------>
#subFooter-wrapper {
  width: 100%;
  height: 100%;
  background-color: $bg-black;

  .subFooter-content {
    @include flex(flex, center, center);
    @include margin-padding(20px, 0, 0, 0, true);

    h6 {
      color: $color-gray;
      font-size: $font-14;

      a {
        color: $bg-orange;
        @include margin-padding(10px, 10px, 10px, 10px, true);
      }
    }
  }
}




// ? ---------------------FoodsMenu.html Styles----------------------------------------------------------------------------------------->


//* ------------------foods-breadCrumb-box--------------------------->
#foods-breadCrumb-box {
  width: 700px;
  height: 40vh;
  background-color: $color-white;
  @include margin-padding(100px, 0, 0, 0, true);
  @include flex(flex, space-around, center);
  @include column-row(column);

  .breadCrumbs {
    width: 30%;
    @include flex(flex, space-around, center);
    flex-direction: row-reverse;
  }
}

// *--------------------FoodsInfo-Section------------------------------>

#mainBox-foods_info {
  width: 80%;
  height: 70vh;
  border: 1px solid rgba(176, 172, 172, 0.415);
  @include margin-padding(20px, auto, 20px, auto, true);
  background-image: url("/Assets/Imgs/Banners/infoBanner.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  #menu-info {
    #food-list {
      width: 100%;
      height: 70vh;
      @include margin-padding(0, auto, 0, auto, false);
      @include flex(flex, center, center);
      flex-wrap: wrap;

      li {
        display: block;
        width: 30%;
        height: 30%;
        font-size: $font-12;
        background-color: transparent;
        border: 1px solid rgba(142, 130, 130, 0.587);
        @include flex(flex, space-around, center);
        @include column-row(column);
        @include margin-padding(10px, auto, 0, auto, true);
        color: $color-white;

        .food-info {
          width: 100%;
          height: 70px;
          @include flex(flex, space-around, center);
          flex-direction: row-reverse;
          background-color: #ffa447;
          transition: 400ms ease-in;
          text-align: $text-center;

          &:hover {
            background-color: #f3b95f;
          }

          a {
            //  color: #010101;
            text-decoration: overline;

            font-size: $font-16;
          }
        }
      }
    }
  }
}


//? -----------------------foodDetails.html Styles-------------------------------------------------------------------------------------->

// *--------------------foodBox-detail--------------------------------->

#foodBox-detail {
  width: 100%;
  height: auto;
  @include flex(flex, center, center);
  @include margin-padding(20px, 0, 20px, 0, false);


  .foodBox_content {
    @include flex(flex, center, center);
    @include column-row(column);

    .title {
      @include flex(flex, space-around, center);
      flex-direction: row-reverse;
      @include margin-padding(0, 0, 30px, 0, true);

      .badge {
        background-color: goldenrod;
      }
    }
    .foodBox_content_detail {
      width: 100%;

      #price-list {
        width: 100%;
        height: auto;
        padding: 20px;
        @include margin-padding(20px, 0, 0, 0, true);
        @include flex(flex, center, center);
        @include column-row(column);
        border: 1px solid silver;

        li {
          display: inline-block;
          width: 100%;
          height: 100%;
          @include flex(flex, center, center);
          flex-direction: row-reverse;


          .price {
            display: inline-block;
            width: 40px;
            height: 30px;
            @include flex(flex, center, center);
            flex-direction: row-reverse;
            color: $bg-green;

            del{
        @include margin-padding(0,0 , 0, 20px, false);
        color: $bg-orange;

            }
          }

          .size{
            display:inline-block;
            width: 70px;
            height: 40px;
            background-color: $bg-orange;
            font-size: $font-12;
            border-radius: 2px;
            color: $color-white;
            
        @include margin-padding(20px,100px, 12px, 0, true);
        @include flex(flex, center, center);
          }
        }
      }
    }
    .progress {
      width: 100%;
      height: auto;
      @include flex(flex, space-around, center);
      @include column-row(column);
      @include margin-padding(40px, 0, 0, 0, true);

      .proggress-box {
        width: 100%;
        gap: 200px;
        text-align: $text-right;
        @include margin-padding(10px, 0, 0, 0, true);
        direction: rtl;

        .progress-bar {
          background-color: transparent;

          .progress-bar-fill {
            @include flex(flex, space-between, center);
            color: $bg-black;
            border-radius: 6px;
            border: 1px solid silver;
            transition: 1s;


            .progress-value {
              width: 100%;
              height: 17px;
              background-color: goldenrod;
              border-radius: 6px;
              @include margin-padding(0, 0, 0, 10px, true);
            }
          }
        }
      }

      .add-shopCart{
        width: 100%;
        height: 100px;
      @include margin-padding(20px, 0, 0, 0, true);
      @include flex(flex, space-between, center);
        flex-direction: row-reverse;

      .number{
        @include flex(flex, center, center);
        flex-direction: row-reverse;
        text-align: $text-center;
        
        #number{
      @include margin-padding(0, 10px, 0, 0, true);
      width: 100px;
      height: 40px;
      border: none;
      outline: none;
      border: 1px solid silver;
      border-radius: 20px;
      text-align: $text-center;
        }

        #plus{
          position: relative;
          top: 0;right: 30px;
          z-index: 11;
          cursor: pointer;
        }
        #minus{
          position: relative;
          top: 0;left: 20px;
          z-index: 11;
          cursor: pointer;
        }
      }

      .addToCart{
        background-color: $bg-orange;
        width: 120px;
        height: 40px;
        cursor: pointer;
        border-radius: 2px;
        a{
          display: inline-block;
          width: 100%;
          height: 100%;
          color: $color-white;
          @include flex(flex, center, center);
        }
      }


      }
    }
  }
  .foodBox-detail_gallery {
    width: 100%;
    height: 100%;

    .large-img {
      width: 80%;
      height: 300px;
      @include margin-padding(20px, auto, 20px, auto, true);
      position: relative;
      border: 1px solid rgba(168, 163, 163, 0.73);
      border-radius: 3px;
    
      img {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
      }
    }

    .small-img {
      width: 80%;
      height: 100px;
      @include margin-padding(20px, auto, 20px, auto, true);
      @include flex(flex, center, center);
      border: 1px solid rgba(168, 163, 163, 0.73);
      border-radius: 3px;
      overflow: hidden;

      img {
        max-width:80px;
        height: 80px;
        border: 1px solid rgba(168, 163, 163, 0.73);
      @include margin-padding(0, 10px, 0, 10px, false);
      object-fit: cover;

      }
    }
  }
}


// ?------------------------ShopCart.html Styles---------------------------------------------------------------------------------------->


.userBasket_box{
  width: 100%;
  height: 300px;
  @include flex(flex, space-around, center);
  flex-direction: row-reverse;


  .userBasket_title{
    @include flex(flex, center, center);
    flex-direction: row-reverse;
  }
  .back {
    span{
      color: $bg-orange;
      cursor: pointer;
    }
  }
}

#shopCart-section{
  width: 100%;
  height: auto;
  border: 1px solid silver;
  @include margin-padding(20px, auto, 20px, auto, false);

  .shopCartTable_wrapper{
    width: 100%;
    height: 350px;
    background-color: rgba(180, 177, 177, 0.462);

    #shopCartTable{
      width: 100%;
      height: 100%;
    }
  }
}
